body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.overview {
    display: flex;
    padding: 64px;
    justify-content: center;
    gap: 64px;
    background-color: #1F2937;
}

.overview-content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    color: #F9FAF8;
    gap: 24px;
    align-self: stretch;
}

.overview-heading {
    font-size: 48px;
    font-weight: bolder;
}

.overview-text {
    font-size: 18px;
    color: #E5E7EB;
}

.overview-button {
    padding-bottom: 16px;
    margin-top: auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-radius: 4px;
}

button:hover {
    background-color: transparent;
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 1px;
}

.overview-img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 0%;
    flex-shrink: 1;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 64px 64px 64px;

}

.projects-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.projects-list {
    align-self: stretch;
    display: flex;
    justify-content: space-evenly;
    margin: 32px;
    gap: 64px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.logos {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 8px;
}

.logos img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 4px;
}

.project-description {
    max-width: 200px;
    font-size: 16px;
    text-align: center;
    margin: 8px 0;
}

.quote {
    background-color: #E5E7EB;
    padding: 64px 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.quote-text {
    font-size: 24px;
    color: #45474c;
}

.quote-author {
    font-weight: bolder;
    text-align: end;
    padding: 16px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 32px 64px;
    gap: 128px;
}

button.cta-button {
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 1px;
}

button.cta-button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.message-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message-heading {
    font-size: 18px;
    font-weight: bold
}

.message-text {
    font-weight: lighter;
}