body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.overview {
    display: flex;
    padding: 48px 64px;
    justify-content: center;
    gap: 32px;
    background-color: #1F2937;
}

.overview-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: #F9FAF8;
    gap: 24px;
}

.overview-heading {
    font-size: 48px;
    font-weight: bolder;
}

.overview-text {
    font-size: 18px;
    color: #E5E7EB;
}

.overview-button {
    padding-bottom: 16px;
    margin-top: auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
}

.overview-img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 0%;
    flex-shrink: 1;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 64px 100px 64px;

}

.projects-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.projects-list {
    display: flex;
    margin: 32px;
    gap: 16px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.logos {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 8px;
}

.logos img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
}

.project-description {
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    margin: 8px 0;
}